.footerTab {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;

  a {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: rgb(153, 153, 153);
    img{
      width: 0.225rem;
      height: 0.2rem;
      margin: 0.05rem 0;
    }
    &.active{
      color: rgb(254, 64, 112);
    }
  }
  .home.active img{

  }
}